OASIS INFOBYTE DATA SCIENCE INTERNSHIP

SUBMITTED BY ARATHI P RAJ

BATCH - FEBRUARY PHASE 2  OIBSIP

TASK 1 - IRIS FLOWER CLASSIFICATION

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Iris.xls")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [4]:
df.shape

(150, 6)

In [5]:
from sklearn.model_selection import train_test_split

X = df.iloc[:,1:4].values
y = df.iloc[:,-1].values

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=.20,random_state = 0)

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
classifier = LogisticRegression()
classifier.fit(X,y)

LogisticRegression()

In [9]:
y_pred = classifier.predict(X_test)

In [10]:
df1 = pd.DataFrame({"Actual":y_test,"Predicted":y_pred})

In [11]:
df1.head()

            Actual        Predicted
0   Iris-virginica   Iris-virginica
1  Iris-versicolor  Iris-versicolor
2      Iris-setosa      Iris-setosa
3   Iris-virginica   Iris-virginica
4      Iris-setosa      Iris-setosa

In [12]:
from sklearn.metrics import confusion_matrix , recall_score , precision_score
cm = confusion_matrix(y_test,y_pred)
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  1,  5]], dtype=int64)

In [13]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        11
Iris-versicolor       0.93      1.00      0.96        13
 Iris-virginica       1.00      0.83      0.91         6

       accuracy                           0.97        30
      macro avg       0.98      0.94      0.96        30
   weighted avg       0.97      0.97      0.97        30

In [14]:
TN = cm[0][0]
FP = cm[0][1]
FN = cm[1][0]
TP = cm[1][1]

recall = TP / float(FN+TP)
print("recall:",recall)

precision = TP / float(TP+FP)
print("precision:",precision)

specificity = TN / (TN+FP)
print("specificity:",specificity)

recall: 1.0
precision: 1.0
specificity: 1.0

In [15]:
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(y_test, y_pred)
print("Accuracy score: ", acc_score)

Accuracy score:  0.9666666666666667

### Thank you